@font-face {
    font-family: 'GB';
    src: url('/PokemonGb-RAeo.ttf') format("truetype");
}

html,body{
    font-family: 'GB';
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #C6C6A7;

}
header{
    display: flex;
    justify-content: center;
    background-color: #A8A878;
}
#pokemonList{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    padding: 10px;
    justify-content: center;
}

.pokemon{
    background-color: white;
    border: 1px solid black;
    width: 225px;
    height: auto;
    margin: 10px;
    text-align: center;
    border-radius: 50px;
}
.pokemon:hover{
    box-shadow: 10px 5px 5px black;
}

img{
    animation: bounce 0.5s;
            animation-direction: alternate;
            animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
            animation-iteration-count: infinite;
}
@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 15px, 0);
    }
}


.types{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

li{
        list-style: none;
        border: solid 1px black;
        border-radius: 45%;
        padding: 3px;
        text-align: center;
        margin: 5px;
        color:white;
        font-size: small;
        text-shadow: -1px 1px 0 #000,
                      1px 1px 0 #000,
                     1px -1px 0 #000,
                    -1px -1px 0 #000;
}
.grass{
    background-color: #78C850;
}
.poison{
    background-color: #A040A0;
}
.dragon{
    background-color: #7038F8;
}
.fire{
    background-color: #F08030;
}
.water{
    background-color:#6890F0;
}
.ice{
    background-color: #98D8D8;
}
.bug{
    background-color: #A8B820;
}
.psychic{
    background-color: #F85888;
}
.electric{
    background-color: #F8D030;
}
.flying{
    background-color: #A890F0;
}
.normal{
    background-color: #A8A878;
}
.ghost{
    background-color: #705898;
}
.ground{
    background-color: #E0C068;
}
.fairy{
    background-color: #EE99AC;
}
.fighting{
    background-color: #C03028;
}
.steel{
    background-color: #B8B8D0;
}
.rock{
    background-color: #B8A038;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 25px;
    padding-top: 5px;
    color: white;
    background-color: #A8A878;
  }
  .footer-user{
    margin: -2px 8px 0 0;
    padding-left: 10px;
    font-size: 12px;
  }
  .footer-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 10px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .footer-item{
    margin: 0 20px;
      padding: 0;
      font-size: 12px;
      line-height: 20px;
      opacity: 0.6;
  }
  .footer-item:hover{
    opacity: 1;
  }
