@font-face {
    font-family: 'GB';
    src: url('/PokemonGb-RAeo.ttf') format("truetype");
}


body{
    font-family: 'GB';
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
    justify-content: center;
    margin: 1px;
    background-color: #3412;
}

h3{
    font-size: large;
}
.dex-number{
    font-size: 12px;
    margin: 0;
    text-align: left;
    opacity: .6;
}
.pokemon{
    border: 1px solid black;
    width: 225px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    border-radius: 10px;
}
.pokemon:hover{
    box-shadow: 10px 5px 5px black;
}
.type{
    display: flex;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    border: solid 1px black;
    border-radius: 45%;
    padding: 3px;
    text-align: center;
    margin: 5px;
    color:white;
    font-size: small;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}
.grass{
    background-color: #78C850;
}
.poison{
    background-color: #A040A0;
}
.dragon{
    background-color: #7038F8;
}
.fire{
    background-color: #F08030;
}
.water{
    background-color:#6890F0;
}
.ice{
    background-color: #98D8D8;
}
.bug{
    background-color: #A8B820;
}
.psychic{
    background-color: #F85888;
}
.electric{
    background-color: #F8D030;
}
.flying{
    background-color: #A890F0;
}
.normal{
    background-color: #A8A878;
}
.ghost{
    background-color: #705898;
}
.ground{
    background-color: #E0C068;
}
.fairy{
    background-color: #EE99AC;
}
.fighting{
    background-color: #C03028;
}
.steel{
    background-color: #B8B8D0;
}
.rock{
    background-color: #B8A038;
}
